
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>

<p>
    KORT OM MIG:

    Min arbetslivserfarenhet sträcker sig 25 år tillbaka där jag har arbetat som It-tekniker och hanterade nätverk med över 60 datorer. Jag hade ansvar för bland annat IT-tjänster som; underlag datorer, 
    installation av skrivare och liknande, felsöka enklare problem och installera program samt kundservice.

    MINA KORTSIKTIGA MÅL:  

    Mina mål på kort sikt är att bidra med mina idéer när jag får mer erfarenhet. Senare hoppas jag kunna lotsa rekryter till arbetsmiljön. Att hjälpa nya medarbetare att bosätta sig i sin arbetsmiljö
    kommer att öka min kompetens och hjälpa organisationen.

    MINA LÅNGSIKTIGA MÅL:

    Mitt långsiktiga mål är att ta mig an större, mer utmanande mål så att jag kan bedöma mina förmågor. Jag planerar att forma mig själv under denna första tid så att jag är beredd att 
    leverera på större mål senare.


</p>