
@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>
<h2>Länkar till några projekt. Men alla är inte klara</h2>
<p>Första är hänga gubbe och de andra lite lek med MVC</p>

    <ul>
        
        <li><a href="http://github.com/SpikenMBK/HangTomasLexicon">Hänga gubbe projekt</a></li>
        <li><a href="http://github.com/SpikenMBK/BoxingStore">Boxing store</a></li>
        <li><a href="http://github.com/SpikenMBK/BoxShop">Box shop</a></li>
        
    </ul>
